@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: regular;
    src: local(regular), url(../../public/fonts/BYekan/BYekan+\ Bold.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: thinFont;
    src: local(thinFont), url(../../public/fonts/BYekan/BYekan+.ttf);
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.1s;
  }
  html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: regular;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
